<!DOCTYPE html>
<html>
<head>
    <title>Barber Point</title>
    <link rel="stylesheet" href="/static/css/styles_head.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/blogs/">View Blogs</a>
        <a href="/blogs/create">Create Blog</a>
        <!-- <a href="/auth/login">Login</a>
        <a href="/auth/register">Register</a> -->
        
        {% if request.session.get("user") %}
            <a href="/shops">View Shops</a>
            <a href="/auth/profile">Profile</a>
            <a href="/auth/logout">Logout</a>
        {% else %}
            <a href="/auth/login">Login</a>
            <a href="/auth/register">Register</a>
        {% endif %}
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>

