{% extends "base.html" %}

{% block content %}
<!-- Load CSS -->
<link rel="stylesheet" href="{{ url_for('static', path='css/styles_index.css') }}">

<div class="content-wrapper">
    <!-- Shops Section -->
    <div class="content-column">
        <h2>🏪Barber Shops</h2>
        {% include "list_of_shops.html" %}
    </div>


    <!-- Trends Section -->
    <!-- <div class="content-column">
        <h2>📈 Trends</h2>
        <p>Check out the latest trends in shops and blogs.</p>
    </div> -->
</div>
{% endblock %}
