
<!-- Load CSS -->
<link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">

<!-- Load JavaScript -->
<script src="{{ url_for('static', path='js/carousel.js') }}"></script>

    <div class="blog-container">
        {% for shop in shops %}
            <div class="blog-card">
                <h2><a href="/shops/{{ shop.id }}">{{ shop.shop_name }}</a></h2>
                <p>{{ shop.address | striptags | truncate(10, True) }}
                    {% if shop.address | striptags | length > 10 %}
                        <a href="/shops/{{ shop.id }}">Open Shop</a>
                    {% endif %}
                </p>
                {% if shop.images %}
                    <div class="carousel-wrapper">
                        <div class="carousel-container">
                            <button class="prev" onclick="prevSlide('carousel-{{ shop.id }}')">&#10094;</button>
                            <div class="carousel" id="carousel-{{ shop.id }}">
                                {% for image in shop.images %}
                                    <img class="carousel-image" src="{{ url_for('static', path=image.image_path.replace('static/', '')) }}" alt="Shop Image">
                                {% endfor %}
                            </div>
                            <button class="next" onclick="nextSlide('carousel-{{ shop.id }}')">&#10095;</button>
                        </div>
                    </div>
                {% else %}
                    
                    <h2><a href="/shops/{{ shop.id }}"><p>No Images Available</p></a></h2>
                {% endif %}
            </div>
          
        {% endfor %}
    </div>

    
