{% extends "base.html" %}

{% block content %}
<ul>
    <h1>Welcome, {{ user.username }}</h1>
    <p>What would you like to do?</p>
</ul>
<ul>
    <ul>
        <li><a href="/blogs/">View Blogs</a></li>
        <li><a href="/blogs/create">Create Blog</a></li>
        <li><a href="/shops/">View Shops</a></li>
        <li><a href="/shops/create">Create Shop</a></li>
    </ul>
    
    <!-- <li><a href="/auth/logout">Logout</a></li> -->
    <h2>List of blogs Created by {{ user.username }}</h2>
    
    {% include "list_of_blog.html" %}
    
</ul>
{% endblock %}
