{% extends "base.html" %}
{% block content %}

<!-- Load CSS -->
<link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">

<ul>
    <h1>Register</h1>
    <form method="post" action="/auth/register">
        <div style="margin-bottom: 10px;">
            <label>Username:</label>
            <input type="text" name="username">
        </div>
        <div style="margin-bottom: 10px;">
            <label>Password:</label>
            <input type="password" name="password">
        </div>
        <button type="submit" class="login-btn">Register</button>
    </form>
</ul>
{% endblock %}
